h1 {
    margin: 10px 0;
    font-size: 24pt;
    font-weight: bold;
}

h2 {
    margin: 10px 0;
    font-size: 18pt;
    font-weight: bold;
 }

.jumper {
    position: fixed;
    left: -1000px;
}

.jumper:focus {
    background-color: yellow;
    left: 10px;
}

header {
    background-color: brown;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

nav.main-nav {
    background-color: #e6e6e6;
    color: brown;
    padding: 20px;
    text-align : center;
    display: flex;
    justify-content: space-evenly;
}


nav.main-nav a:hover {
    font-weight: bold;
}

div.main-home{
    display: grid;
    grid-template-columns: auto auto auto;
}

div.main-home div {
    min-width: 300px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: brown;
    background-color: #f2f2f2;
}

.petimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.travelimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipeimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: rgba(165, 42, 42, 0.05);
    border: rgba(165, 42, 42, 0.8) 5px solid;
    border-radius: 20px;
    margin: 20px;
}

.pets:hover {
    background-color: rgba(165, 42, 42, 0.1);
    border: rgba(107, 27, 27, 0.8) 5px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.travel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: rgba(165, 42, 42, 0.05);
    border: rgba(165, 42, 42, 0.8) 5px solid;
    border-radius: 20px;
    margin: 20px;
}

.travel:hover {
    background-color: rgba(165, 42, 42, 0.1);
    border: rgba(107, 27, 27, 0.8) 5px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}


.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: rgba(165, 42, 42, 0.05);
    border: rgba(165, 42, 42, 0.8) 5px solid;
    border-radius: 20px;
    margin: 20px;
}

.recipe:hover {
    background-color: rgba(165, 42, 42, 0.1);
    border: rgba(107, 27, 27, 0.8) 5px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.detailed-section{
    display: flex;
    flex-direction: column;
    background-color: rgba(165, 42, 42, 0.05);
    border-radius: 20px;
    margin: 20px;

}

footer {
    display: grid;
    grid-template-columns: 100px 300px;
    background-color: brown;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer a {
    display: grid;
    grid-template-columns: 10% auto;
    background-color: brown;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}

footer p {
    display: grid;
    background-color: brown;
    color: #FFFFFF;
    text-align: Left;
    padding-left: 30px;
}

nav.footer-nav {
    min-width: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-right:#FFFFFF 1px solid;
}

nav.footer-nav:hover{
    text-decoration: bold;
}


@keyframes shake {
    0% { transform: translateX(0); }
    10%, 90% { transform: translateX(-5px); }
    20%, 80% { transform: translateX(5px); }
    30%, 50%, 70% { transform: translateX(-5px); }
    40%, 60% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.shaking-element:hover {
    animation: shake 2s ease-in-out;
}



/*Mobile view*/

@media (max-width: 500px)
{

    header {
        background-color: brown;
        color: #FFFFFF;
        padding: 20px;
        text-align: center;
    }

    nav {
        background-color: #f2f2f2;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    div.main-home {
        display: flex;
        flex-direction: column;
    }

}



/*Tablet view*/

@media (min-width:500px) and (max-width: 1200px) {
    nav {
        display: flex;
        justify-content: space-evenly;
    }

    header {
        background-color: brown;
        color: #FFFFFF;
        padding: 20px;
        text-align: center;
    }
    

}
